<div id="posts" >
<% @posts.each do |post| %>
    <div class="post">
      <h1 class="title" ><%= link_to post.title, post %></h1>
        <p class="date" >  published at
        <%= time_ago_in_words(post.created_at) %>
        by
        <%= post.user.email %>
       </p>
    </div>
  <% end %>
</div>